    <!doctype html>
    <html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Softshirt</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'templates/snipet/css/foundation.css' %} ">
        <link rel="stylesheet" href="{% static 'templates/snipet/css/app.css'%} ">

    </head>

      <body>

        <div class="off-canvas-wrapper">
          <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

            <div class="off-canvas position-left" id="mobile-menu" data-off-canvas>
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Downloads</a></li>
                <li><a href="#">Workspace</a></li>
              </ul>
            </div>


    <!-- Mobile Navigation-->

            <div class="off-canvas-content" data-off-canvas-content>
              <div class="title-bar show-for-small-only">
                <div class="title-bar-left">
                  <button class="menu-icon" type="button" data-open="mobile-menu"></button>
                  <span class="title-bar-title">Menu</span>
                </div>
              </div>

    <!-- Desktop Navigation-->

              <nav class="top-bar nav-desktop">
                  <div class="wrap">
                      <div class="top-bar-left">
                          <h3 class="site-logo">Softshirt<h3>
                      </div>
                      <div class="top-bar-right">
                          <ul class="menu menu-desktop ">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Downloads</a></li>
                            <li><a href="#">Workspace</a></li>
                          </ul>
                      </div>
                  </div>
              </nav>

    <!-- Head Section-->

              <section class="head">
                  <div class="wrap">
                      <h1>Welcome To Softshirt</h1>

                      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore  magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>

                      <a href="#" class="button">Read more</a>
                      <a href="#" class="button success">Contact us</a>
                  </div>
              </section>

    <!-- Main Section-->

              <section class="main">
               <div class="wrap row">
                <div class="small-12 medium-7 column">
                  <h1>Main Section</h1>
                  <hr>
                  <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore  magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                </div>
                <div class="small-12 medium-5 column">
                  <h1>Secondary section</h1>
                  <hr>
                  <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore  magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                </div>
               </div>
              </section>

    <!-- Footer-->

              <footer>
                <div class="wrap row small-up-1 medium-up-3">
                  <div class="column">
                    <h4>Contact info</h4>
                    <hr>
                    <a href="#"><span>Phone</span> 83 478 63688</a>
                    <a href="#"><span>Email</span> info@softshirt.com</a>
                    <a href="#"><span>Address</span> Gandhinagar</a>
                  </div>

                  <div class="column">
                    <h4>Site Map</h4>
                    <hr>
                    <a href="#">About us</a>
                    <a href="#">Services</a>
                    <a href="#">Contact us</a>
                  </div>
                  <div class="column">
                    <h4>Social Media</h4>
                    <hr>
                    <a href="#">Facebook</a>
                    <a href="#">Twitter</a>
                    <a href="#">Instagram</a>
                  </div>
                </div>
              </footer>
            </div>
          </div>
        </div>

        <script src="{%  static 'templates/js/vendor/jquery.js"'%}></script>
        <script src="{%  static 'templates/js/vendor/what-input.js"'%}></script>
        <script src="{%  static 'templates/js/vendor/foundation.js"'%}></script>
        <script src="{%  static 'templates/js/app.js"' %}></script>
      </body>
    </html>
